body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

a.join{
    font-size: 20px;
    color: white;
}

.contentAbout h1{
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.contentAbout .differentColor{
    color: #D03807;
}

.contentAbout{
    background-color: white;
}

.contentAbout p{
    font-size: 20px;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
}

.contentAbout ul{
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

.contentAbout li{
    font-size: 18px;
    color: black;
}

.contentAbout .row{
  display: grid;
  margin-left: 19.5%;
  margin-right: 15%;
  grid-template-columns: repeat(auto-fill, 
                         minmax(185px, 1fr));
  grid-gap: 50px;
   
  @media (max-width: 794px) {
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
  }
}

.contentAbout .column{
    width: 100%;
}