body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

a.join{
    font-size: 20px;
    color: white;
}

.ContactContent{
    background-color: white;
}

.ContactContent h1{
    color: #EC6C09;
    font-size: 60px;
    text-align: center;
}

.ContactContent p{
    font-size: 20px;
}

.ContactContent a{
  color: rgb(0, 0, 0);
  font-size: 19px;
  text-decoration: none;
}

.ContactContent a:hover{
    color: #EC6C09;
    transition: 200ms ease-in;
}

.ContactContent .ContactRow{
  display: grid;
  padding: 2rem;
  margin-left: 12%;
  margin-right: 15%;
  /*grid-template-columns: repeat(auto-fill, 
                         minmax(185px, 1fr));*/
  grid-template-columns: 300px 1fr;
  gap: 17rem;
  max-width: 800px;
  
  
  /*column-gap: 240px;*/
   
  @media (max-width: 650px) {
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
  }
}

.ContactContent .ContactColumn{
  text-align: left;
  width: 550px;
}
