body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

a.join{
    font-size: 20px;
    color: white;
}

.eventsContent{
    background-color: white;
}

.eventsContent h1{
    color: #EC6C09;
    font-size: 60px;
    text-align: center;
}

.eventsContent .eventCards{
    margin-left: 15%;
}

.eventsContent .eventsRow{
    display: grid;
    margin-right: 15%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}